/* ----------------------- COLORS ----------------------- */

$color-principal:#08907a;
$color-principal-oscuro:#067260;
$color-secundario:#ffffff;
$bg-color:#c1e3de;
$bg-color-claro:#b1e3de;
$bg-color-ultra-claro:#dff0ee;
$color-hover:#091c3e;
$color-texo:black;
$color-texo-claro:white;
$color-btn:#ffbe1b;
// $box-shadow:;