/* ----------------------- EVULUS ----------------------- */

.evulus {
    margin-top: 100px;
    background: url(../img/mapabg.svg) no-repeat;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 100%;
        &__text {
            h1 {
                font-size: 4.2rem;
                div {
                    display: inline-block;
                }
                span {
                    color: $color-principal;
                }
            }
            p {
                font-size: 1.8em;
                line-height: 2rem;
            }
        }
        .evulus-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                width: calc(100% / 3 - 30px);
                min-width: 200px;
                background: $color-secundario;
                padding: .5rem 1rem;
                margin: 10px;
                display: flex;
                @include sombra-primaria;
                align-items: center;
                transition: all 500ms;
                -webkit-transition: all 500ms;
                -moz-transition: all 500ms;
                -ms-transition: all 500ms;
                -o-transition: all 500ms;
                &:hover {
                    background: #f2f2f2;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .evulus {
        background-repeat: repeat;
    }
}


/* --------------------- EVU TOKENS --------------------- */

.evu-tokens {
    &__content {
        background: url(../img/mapabg-green.svg) no-repeat center;
        &__card {
            background: $color-secundario;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            box-shadow: 0px -15px 0px 0px #08907915, 0px -30px 0px 0px #dff3f18f, 0px .5rem 1rem #b4b4b4;
            ul {
                li {
                    & h5 {
                        color: $color-principal;
                        font-weight: 900;
                    }
                    & h5,
                    p {
                        margin: 0;
                        display: inline-block;
                    }
                    a {
                        display: inline-block;
                        width: 100px;
                        padding: 0.2rem .5rem;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                    }
                }
            }
        }
        &__text {
            li {
                padding-bottom: 1.5rem;
            }
        }
    }
}

.clipboard {
    width: 200px;
    background: transparent;
    font-size: 1rem;
    user-select: none;
}

.copy {
    background: $color-btn;
    font-size: .8rem;
    padding: 0 5px;
}


/* -------------------- CRYPTO-ASSETS ------------------- */

article {
    line-height: 2rem;
    text-align: justify;
    font-size: 1.9em;
    h3 {
        font-size: 3rem;
        font-weight: bolder;
    }
}


/* ---------------------- EXCHANGES --------------------- */

.exchanges {
    &__populate {
        // height: 300px;
        padding: 100px;
        a {
            display: flex;
            align-items: center;
            height: 120px;
            padding: 2rem;
            width: 300px;
            background: $color-secundario;
            @include sombra-primaria;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
    // &__platform {
    //     height: 200px;
    //     margin-bottom: 20px;
    //     a {
    //         width: 100px;
    //         height: 100px;
    //         background: $color-secundario;
    //         border-radius: 10px;
    //         -webkit-border-radius: 10px;
    //         -moz-border-radius: 10px;
    //         -ms-border-radius: 10px;
    //         -o-border-radius: 10px;
    //     }
    // }
}


/* ----------------------- SERVICE ---------------------- */

.service {
    .service-items {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 40px;
        justify-content: center;
        a {
            width: calc(100% / 4 - 40px);
            min-width: 200px;
            height: 200px;
            @include sombra-secudaria;
            transition: all 300ms;
            -webkit-transition: all 300ms;
            -moz-transition: all 300ms;
            -ms-transition: all 300ms;
            -o-transition: all 300ms;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            &:hover {
                background: $color-hover;
            }
        }
    }
}


/* ---------------------- ROAD MAP ---------------------- */

.road-map {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .transactions {
            div {
                text-size-adjust: initial;
                h5 {
                    font-size: 4rem;
                }
            }
        }
    }
}

.slider-container {
    width: 100%;
    padding: 40px;
    .slider-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .item-slider {
            flex-shrink: 0;
            width: 200px;
        }
    }
}

.slider-content--icons {
    .item-slider {
        width: auto !important;
    }
}


/* ----------------------- CONTACT ---------------------- */

.contact {
    color: $color-secundario;
    text-align: center;
    position: relative;
    &__content {
        position: relative;
        height: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        p:nth-child(2) {
            font-size: 3rem;
        }
    }
}