/* --------------------- RESPONSIVE --------------------- */

@media screen and (min-width:1200px) {
    .container-evulus {
        padding: 60px 70px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .container-evulus {
        padding: 80px 60px;
    }
    .subtitle {
        h2 {
            font-size: 3rem;
        }
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .container-evulus {
        padding: 80px 40px;
    }
    .subtitle {
        h2 {
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width:768px) {
    .container-evulus {
        padding: 80px 20px;
    }
    .w-80 {
        width: 90%;
    }
    .w-70 {
        width: 80%;
        margin: 0 auto;
    }
    .subtitle {
        padding: 0px 2rem .3rem;
        h2 {
            font-size: 1.5rem;
        }
    }
    .social-icons--black {
        li a img {
            width: 50px;
            height: 50px;
        }
    }
    .owl-carousel {
        width: 80%;
        margin: 0 auto;
    }
}