/* --------------------- BACKGROUND --------------------- */

.bg-negro {
    background: $color-texo;
}

.bg-verde {
    background: $color-principal;
}

.bg-verde-claro {
    background: $bg-color-claro;
}

.bg-verde-ultra-claro {
    background: $bg-color-ultra-claro;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width:1200px) {
    .container-evulus {
        padding: 80px;
        width: 100%;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .container-evulus {
        padding: 80px 60px;
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .container-evulus {
        padding: 80px 40px;
        width: 100%;
    }
}

@media screen and (min-width:176px) and (max-width:768px) {
    .container-evulus {
        padding: 80px 20px;
        width: 100%;
    }
    .w-80 {
        width: 100%;
    }
}

.vid-youtube-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 47%;
    padding-top: 30px;
    position: relative;
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }
}


/* ---------------------- SUBTITLE ---------------------- */

.subtitle {
    width: 100%;
    text-align: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(8, 144, 122, 1) 10%, rgba(8, 144, 122, 1) 50%, rgba(8, 144, 122, 1) 90%, rgba(255, 255, 255, 1) 100%);
    padding: 0rem 0px 1rem;
    h2 {
        color: $color-secundario;
        font-size: 3.7rem;
        font-weight: 900;
    }
}


/* ------------------ BACKGROUND BORDER ----------------- */

.border-box-green {
    border: 0 solid $bg-color-ultra-claro;
    border-width: 25px 0px;
}