/* ----------------------- COLORS ----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

video,
picture,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

input {
  outline: none;
}

a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "GalanoGrotesque";
}

section {
  overflow-x: hidden;
}

.row {
  margin: 0;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesqueSemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesqueExtraBold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Heavy.ttf) format("truetype");
  font-weight: 900;
}
/* --------------------- BACKGROUND --------------------- */
.bg-negro {
  background: black;
}

.bg-verde {
  background: #08907a;
}

.bg-verde-claro {
  background: #c1e3de;
}

.bg-verde-ultra-claro {
  background: #dff0ee;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container-evulus {
    padding: 80px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container-evulus {
    padding: 80px 60px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container-evulus {
    padding: 80px 40px;
    width: 100%;
  }
}
@media screen and (min-width: 176px) and (max-width: 768px) {
  .container-evulus {
    padding: 80px 20px;
    width: 100%;
  }

  .w-80 {
    width: 90%;
  }
}
.vid-youtube-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 47%;
  padding-top: 30px;
  position: relative;
}
.vid-youtube-responsive iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* ---------------------- SUBTITLE ---------------------- */
.subtitle {
  width: 100%;
  text-align: center;
  background: white;
  background: linear-gradient(90deg, white 0%, #08907a 10%, #08907a 50%, #08907a 90%, white 100%);
  padding: 0rem 0px 1rem;
}
.subtitle h2 {
  color: #ffffff;
  font-size: 3.7rem;
  font-weight: 900;
}

/* ------------------ BACKGROUND BORDER ----------------- */
.border-box-green {
  border: 0 solid #dff0ee;
  border-width: 25px 0px;
}

/* --------------------- BTN-EVULUS --------------------- */
.btn-evulus {
  width: auto;
  padding: 0.5rem 1rem 14px;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: inline-block;
  white-space: nowrap;
}
.btn-evulus:hover {
  box-shadow: 0px 0px 2rem #ffbe1b;
}

.btn-evulus-small {
  width: auto;
  padding: 0.5rem 0.5rem 5px;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: inline-block;
  white-space: nowrap;
}

/* ----------------------- BTN NAV ---------------------- */
.btn-1,
.btn-2 {
  width: auto;
  padding: 0rem 0.5rem 5px;
  margin: 0 auto;
  color: black;
  background: #08907a;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: inline-block;
  white-space: nowrap;
  color: #ffffff;
  border: 1px solid #08907a;
}
.btn-1:hover,
.btn-2:hover {
  background: #08907a;
  color: white;
}
.btn-1.active,
.btn-2.active {
  background: #08907a;
  color: white;
}

.btn-2 {
  border: 1px solid #08907a;
  color: #08907a;
  background: transparent;
}

.btn-evulus-green {
  width: 100%;
  padding: 0px 0.5rem 5px;
  margin: 0 auto;
  color: black;
  background: #ffffff;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: inline-block;
  white-space: nowrap;
}
.btn-evulus-green:hover {
  background: #08907a;
  color: white;
}
.btn-evulus-green.active {
  background: #08907a;
  color: white;
}

/* -------------------- BTN-DOWNLOAD -------------------- */
.btn-down-white {
  font-size: 12px;
  font-weight: 700;
  border: 2px solid #eee;
  background: #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-down-white:hover {
  background: #a7a9ac;
}

.social-icons li a img {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
}

.navbar {
  background: #ffffff;
  border-bottom: 1px solid #e0e3eb;
}

.nav-evulus {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  background: #ffffff;
  align-items: center;
  border-bottom: 1px solid #e0e3eb;
  min-height: 70px;
}

.menu-burguer {
  font-size: 1rem;
  color: #08907a;
  cursor: pointer;
}

.nav-evulus,
.nav_principal,
.nav-modificacion__menu,
.nav-items-static,
.logginSearch,
.aside-menu {
  gap: 20px;
}

.nav-items-static {
  color: #08907a;
}
.nav-items-static .dark-mode {
  color: black;
}
.nav-items-static span {
  cursor: pointer;
}

.logginSearch {
  display: flex;
}
.logginSearch .button-search {
  position: relative;
  width: 200px;
}
.logginSearch .button-search input {
  width: 0 !important;
  opacity: 0;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  border: 1px solid #08907a;
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.logginSearch .button-search button {
  position: absolute;
  right: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #08907a;
  color: #08907a;
  background: #ffffff;
  z-index: 1;
  padding: 0px 0.4rem;
}
.logginSearch .button-search button.active {
  background: #08907a !important;
}
.logginSearch .button-search:hover input {
  width: 100% !important;
  opacity: 1;
}
.logginSearch .button-search:hover button {
  background: #08907a;
  color: #ffffff;
}
.logginSearch .button-search input:focus {
  width: 100% !important;
  opacity: 1;
  box-shadow: none;
  border: 1px solid #08907a;
}

@media screen and (max-width: 1200px) {
  .logginSearch {
    flex-direction: column;
  }
  .logginSearch .button-search {
    width: 100%;
  }
  .logginSearch .button-search input {
    width: 100% !important;
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .nav_principal {
    flex-direction: column;
  }
  .nav_principal li {
    width: 100%;
  }
}
.submenu {
  width: 375px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -375px;
  z-index: 10;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.submenu .aside-menu {
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  border-left: 1px solid #eeee;
  background: #ffffff;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  overflow-x: scroll;
}
.submenu .aside-menu .close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.submenu.active {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
.submenu.active .aside-menu {
  right: 0;
}

@media screen and (max-width: 385px) {
  .submenu {
    width: 100%;
  }
}
/* ----------------------- EVULUS ----------------------- */
.evulus {
  min-height: 100vh;
  margin-top: 100px;
  background: url(../img/mapabg.svg) no-repeat;
}
.evulus__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.evulus__content__text h1 {
  font-size: 4.2rem;
}
.evulus__content__text h1 span {
  color: #08907a;
}
.evulus__content__text p {
  font-size: 1.8em;
  line-height: 2rem;
}
.evulus__content .evulus-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.evulus__content .evulus-items li {
  width: calc(100% / 3 - 30px);
  background: #ffffff;
  padding: 0.5rem 1rem;
  margin: 10px;
  display: flex;
  box-shadow: 0px 0.5rem 1rem #b4b4b4;
  align-items: center;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}
.evulus__content .evulus-items li:hover {
  background: #f2f2f2;
}

@media screen and (max-width: 1200px) {
  .evulus {
    background-repeat: repeat;
  }
}
/* --------------------- EVU TOKENS --------------------- */
.evu-tokens__head {
  background: url(../img/mapabg-green.svg) no-repeat center;
}

.clipboard {
  width: 200px;
  background: transparent;
}

.copy {
  background: #ffbe1b;
}

/* -------------------- CRYPTO-ASSETS ------------------- */
article {
  line-height: 2rem;
  text-align: justify;
  font-size: 1.9em;
}
article h3 {
  font-size: 3rem;
  font-weight: bolder;
}

/* ---------------------- EXCHANGES --------------------- */
.exchanges__populate {
  height: 300px;
}
.exchanges__populate a {
  width: 400px;
  height: 150px;
  background: #ffffff;
  box-shadow: 0px 0.5rem 1rem #b4b4b4;
}
.exchanges__platform {
  height: 200px;
  margin-bottom: 20px;
}
.exchanges__platform a {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ----------------------- SERVICE ---------------------- */
.service .service-items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
  justify-content: center;
}
.service .service-items a {
  width: calc(100% / 4 - 40px);
  min-width: 200px;
  height: 200px;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.418);
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.service .service-items a:hover {
  background: #091c3e;
}

/* ---------------------- ROAD MAP ---------------------- */
.road-map__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.road-map__content .transactions div {
  text-size-adjust: initial;
}
.road-map__content .transactions div h5 {
  font-size: 4rem;
}

/* ----------------------- CONTACT ---------------------- */
.contact {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.contact__content {
  position: relative;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__content p:nth-child(2) {
  font-size: 3rem;
}

.footer {
  color: #ffffff;
}
.footer__content h5 {
  margin-top: 20px;
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
