@charset "UTF-8";
/* ----------------------- COLORS ----------------------- */
/* ---------------------- FONT-SIZE --------------------- */
/* --------------------- TRANSITION --------------------- */
/* --------------------- BOX-SHADOWS -------------------- */
/* ----------------------- BORDER ----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

video,
picture,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

input {
  outline: none;
}

a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "GalanoGrotesque";
}

section {
  overflow-x: hidden;
}

.row {
  margin: 0;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesqueSemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesqueExtraBold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Heavy.ttf) format("truetype");
  font-weight: 900;
}
/* --------------------- BACKGROUND --------------------- */
.bg-negro {
  background: black;
}

.bg-verde {
  background: #08907a;
}

.bg-verde-claro {
  background: #b1e3de;
}

.bg-verde-ultra-claro {
  background: #dff0ee;
}

/* ------------------ BACKGROUND BORDER ----------------- */
.border-box-green {
  border: 0 solid #dff0ee;
  border-width: 25px 0px;
}

/* ----------------------- WEIGHT ----------------------- */
.w-70 {
  width: 70%;
  margin: 0 auto;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
}

.enlace-lenear {
  display: inline-block;
  color: black;
  text-decoration: underline;
  font-weight: 400;
}

/* --------------------- VID YOUTUBE -------------------- */
.vid-youtube-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 47%;
  padding-top: 30px;
  position: relative;
}
.vid-youtube-responsive iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* ---------------------- SUBTITLE ---------------------- */
.subtitle {
  width: 100%;
  text-align: center;
  background: white;
  background: linear-gradient(90deg, white 0%, #08907a 10%, #08907a 50%, #08907a 90%, white 100%);
  padding: 0rem 2rem 1rem;
}
.subtitle h2 {
  color: #ffffff;
  font-size: 3.7rem;
  margin: 0;
  font-weight: 400;
}

/* ------------------ .CONTAINER-EVULUS ----------------- */
.container-evulus {
  padding: 60px 70px;
  max-width: 1500px;
  margin: 0 auto;
}

/* ------------------------ OTHER ----------------------- */
.text-green-evulus {
  color: #08907a;
}

.slider-1 {
  overflow: hidden;
  z-index: 0;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

.owl-carousel {
  z-index: 0;
}

.owl-carousel .item {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  width: 160px;
  color: #08907a;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.owl-carousel .item img {
  margin: 0 auto;
}

.owl-nav > button {
  margin-top: -26px;
  position: absolute;
  top: 30%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  color: #ffffff;
  background: transparent !important;
}

.owl-nav svg {
  font-size: 52px;
  color: #878687;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

/* --------------------- BTN-EVULUS-YELLOW--------------------- */
.btn-evulus {
  width: auto;
  padding: 1rem 1.8rem 20px;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
}
.btn-evulus:focus {
  border: none;
}
.btn-evulus:hover {
  box-shadow: 0px 0px 2rem #ffbe1b;
}

.btn-evulus-medium {
  width: auto;
  padding: 0px 20px 4px 20px;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
}
.btn-evulus-medium:focus {
  border: none;
}
.btn-evulus-medium:hover {
  background: #e0a800;
  color: black !important;
  text-decoration: none !important;
}
.btn-evulus-medium:active {
  background: #d39e00;
}

.btn-evulus-small {
  width: auto;
  padding: 0.5rem;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-evulus-small:focus {
  border: none;
}
.btn-evulus-small:hover {
  background: #e0a800;
  color: black !important;
  text-decoration: none !important;
}
.btn-evulus-small:active {
  background: #d39e00;
}

/* ------------------ BTN-EVULUS-WHITE ------------------ */
.btn-white-tall {
  width: 300px;
  min-height: 67px;
  background: #ffffff;
  padding: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0.5rem 1rem #b4b4b4;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 136px;
}
.btn-white-tall:hover {
  background: #f2f2f2;
}

.btn-white-medium {
  width: 220px;
  min-height: 67px;
  background: #ffffff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0.5rem 1rem #b4b4b4;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-white-medium:hover {
  background: #f2f2f2;
}

/* ----------------------- BTN NAV ---------------------- */
.btn-1,
.btn-2 {
  width: auto;
  padding: 0rem 0.5rem 5px;
  margin: 0 auto;
  color: black;
  background: #08907a;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  margin: 0;
  border: 1px solid #08907a;
}
.btn-1:focus,
.btn-2:focus {
  border: none;
}
.btn-1:hover,
.btn-2:hover {
  background: #08907a;
  color: white;
}
.btn-1.active,
.btn-2.active {
  background: #08907a;
  color: white;
}

.btn-2 {
  border: 1px solid #08907a;
  color: #08907a;
  background: transparent;
}

.btn-evulus-green {
  width: 100%;
  padding: 0px 0.5rem 5px;
  margin: 0 auto;
  color: black;
  background: #ffffff;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
}
.btn-evulus-green:focus {
  border: none;
}
.btn-evulus-green:hover {
  background: #08907a;
  color: white;
}
.btn-evulus-green.active {
  background: #08907a;
  color: white;
}

/* -------------------- BTN-DOWNLOAD -------------------- */
.btn-down-white {
  font-size: 12px;
  font-weight: 700;
  height: fit-content;
  margin: 10px;
  padding: 5px 0.5rem;
  color: black;
  border: 2px solid #eee;
  background: #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-down-white:hover {
  background: #a7a9ac;
  color: black;
}
.btn-down-white img {
  vertical-align: text-top;
}

.social-icons {
  flex-wrap: wrap;
}
.social-icons li a img {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.social-icons li a img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social-icons--white li a img {
  filter: brightness(0) invert(100%);
  -webkit-filter: brightness(0) invert(100%);
  width: 70px;
  height: 70px;
}

.social-icons--black li a img {
  filter: brightness(0);
  -webkit-filter: brightness(0);
  width: 70px;
  height: 70px;
}

.nav-evulus {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  background: #ffffff;
  align-items: center;
  box-shadow: 0px 2px 5px 0px #cdcccf;
  min-height: 61px;
}

.menu-burguer {
  font-size: 1rem;
  color: #08907a;
  cursor: pointer;
}

.nav-evulus,
.nav_principal,
.nav-modificacion__menu,
.nav-items-static,
.logginSearch,
.buttons-loggin {
  gap: 20px;
}

.nav-items-static .lang {
  border-right: 1px solid #7f7f7f;
  padding-right: 20px;
}
.nav-items-static .dark-mode {
  color: #cdcccf;
}
.nav-items-static .dark-mode:hover {
  color: #7f7f7f;
}
.nav-items-static span,
.nav-items-static div {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.logginSearch {
  display: flex;
}
.logginSearch .button-search {
  position: relative;
  width: 200px;
}
.logginSearch .button-search input {
  width: 0 !important;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  border: 1px solid #08907a;
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.logginSearch .button-search button {
  position: absolute;
  right: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  color: #08907a;
  background: #cdcccf;
  z-index: 1;
  padding: 1px 5px;
}
.logginSearch .button-search button svg {
  transform: translateY(-2px) rotate(90deg);
  -webkit-transform: translateY(-2px) rotate(90deg);
  -moz-transform: translateY(-2px) rotate(90deg);
  -ms-transform: translateY(-2px) rotate(90deg);
  -o-transform: translateY(-2px) rotate(90deg);
}
.logginSearch .button-search button.active {
  background: #08907a !important;
}
.logginSearch .button-search:hover input {
  width: 100% !important;
  opacity: 1;
}
.logginSearch .button-search:hover button {
  background: #08907a;
  color: #ffffff;
}
.logginSearch .button-search input:focus {
  width: 100% !important;
  opacity: 1;
  box-shadow: none;
  border: 1px solid #08907a;
}

.submenu {
  width: 375px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -375px;
  z-index: 10;
  transition: all 800ms ease-in-out;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
}
.submenu .aside-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  border-left: 1px solid #eeee;
  background: #ffffff;
  transition: all 800ms ease-in-out;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  overflow-x: scroll;
}
.submenu .aside-menu .close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.submenu .aside-menu .close:hover {
  color: #08907a;
}
.submenu .aside-menu .btn-evulus-green {
  height: 40px;
  display: flex;
  align-items: center;
  text-align: start;
}
.submenu .aside-menu .nav_principal {
  gap: 0;
}
.submenu .aside-menu .logginSearch {
  margin-bottom: 20px;
}
.submenu .aside-menu .nav-items-static {
  margin-top: 20px;
}

.submenu.active {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
.submenu.active .aside-menu {
  right: 0;
}

/* ----------------------- EVULUS ----------------------- */
.evulus {
  background: url(../img/mapabg.svg) no-repeat top;
}
.evulus .row {
  padding-top: 100px;
}
.evulus .row .evulus__content {
  display: flex;
  flex-direction: column;
}
.evulus .row .evulus__content__text h1 {
  font-size: 4.6rem;
}
.evulus .row .evulus__content__text h1 div {
  display: inline-block;
}
.evulus .row .evulus__content__text h1 span {
  color: #08907a;
}
.evulus .row .evulus__content__text p {
  font-size: 1.8em;
  line-height: 2rem;
}
.evulus .row .evulus__content .evulus-items {
  gap: 20px;
}
.evulus .row .evulus__img {
  position: relative;
  right: -30px;
}
.evulus .social-icons {
  position: relative;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  .evulus {
    background-repeat: repeat;
  }
  .evulus .row {
    padding-top: 40px;
  }
  .evulus .row .evulus__img {
    right: 0;
  }
}
/* -------------------- CRYPTO-ASSETS ------------------- */
.crypto-assets .crypto-assets-text p {
  font-size: 1.5rem;
  text-align: justify;
}

/* ---------------------- PLATFORM ---------------------- */
.platform .platform-text-item div {
  font-size: 2rem;
  font-weight: 400;
  line-height: 30px;
}
.platform .platform-text-item div img {
  width: 45px;
  vertical-align: baseline;
}

/* --------------------- EVU TOKENS --------------------- */
.evu-tokens__content {
  gap: 20px;
}
.evu-tokens__content__card ul {
  margin: 0 auto;
  padding: 40px 20px 40px 40px;
  background: #ffffff;
  border-radius: 20px;
  width: 250px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px -15px 0px 0px #08907915, 0px -30px 0px 0px #dff3f18f, 0px 0.5rem 1rem #b4b4b4;
}
.evu-tokens__content__card ul li {
  position: relative;
}
.evu-tokens__content__card ul li span {
  color: #08907a;
  font-weight: 900;
}
.evu-tokens__content__card ul li span::before {
  font: var(--fa-font-solid);
  content: "\f007";
  margin: 0 5px 0 -22px;
}
.evu-tokens__content__card ul li p {
  margin: 0;
}
.evu-tokens__content__card ul li a {
  position: absolute;
  top: 15px;
  right: 0;
  width: 125px;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.evu-tokens__content__card ul li a:hover {
  box-shadow: 0px 0px 10px 3px #cdcccf;
}
.evu-tokens__content__card ul li span {
  position: relative;
}
.evu-tokens__content__card ul li span::before {
  content: "";
  background: url(../icons/icon-hexágono.svg) no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
}
.evu-tokens__content__img {
  margin: 20px 0px;
  max-width: 405px;
}
.evu-tokens__content__text li {
  margin-bottom: 2rem;
  position: relative;
}
.evu-tokens__content__text li::before {
  content: "";
  background: url(../icons/icon-hexágono.svg) no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 10px 0px 0px -25px;
}
.evu-tokens .container-evulus {
  background: url(../img/mapabg-green.svg) no-repeat center;
}

/* -------------------- EVU-CONTRACT -------------------- */
.evu-contract .contract__text {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}
.evu-contract .contract__text h3 {
  font-size: 3rem;
}
.evu-contract .contract__text p {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: justify;
}
.evu-contract .contract__buttons a {
  margin: 10px 10px 0px 0px;
}
.evu-contract .copy-contract {
  display: flex;
  width: 100%;
  max-width: 400px;
}
.evu-contract .copy-contract .clipboard {
  width: 100%;
  background: transparent;
  font-size: 1rem;
  user-select: none;
  overflow: hidden;
}
.evu-contract .copy-contract .copy {
  background: #ffbe1b;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  position: relative;
}
.evu-contract .copy-contract .copy:hover {
  background: #e0a800;
}
.evu-contract .copy-contract .copy:hover::after {
  position: absolute;
  content: "copy";
  text-align: center;
  width: 50px;
  height: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  top: -25px;
  transform: translateX(-66%);
  background: #ffbe1b;
  -webkit-transform: translateX(-66%);
  -moz-transform: translateX(-66%);
  -ms-transform: translateX(-66%);
  -o-transform: translateX(-66%);
  user-select: none;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.evu-contract .copy-contract .copy:hover::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: -10px;
  background: #ffbe1b;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  user-select: none;
}

/* -------------------- EVU GRAPCHICS -------------------- */
.evu-graphics {
  background: url(../img/mapabg-green.svg) no-repeat top;
}
.evu-graphics .graphics-distribution {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.evu-graphics p,
.evu-graphics h3 {
  color: #08907a;
}
.evu-graphics p {
  font-size: 0.6rem;
}

/* ---------------------- EXCHANGES --------------------- */
.exchanges__content {
  padding: 80px 0px;
}
.exchanges__content__populate a {
  margin: 20px;
}

/* ----------------------- SERVICE ---------------------- */
.service .service-items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 100px;
}
.service .service-items a {
  width: calc(100% / 4 - 40px);
  min-width: 270px;
  padding: 30px;
  max-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  line-height: 30px;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.418);
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #08907a;
  font-weight: 500;
  text-align: center;
}
.service .service-items a:hover {
  background: #091c3e;
  color: #ffffff;
}
.service .service-team__text h3 {
  font-size: 3.7rem;
}
.service .service-team__text p {
  font-size: 1rem;
  font-weight: 600;
  margin: 20px auto;
}
.service .card-member {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
}
.service .card-member img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 15px solid #08907a;
  box-shadow: 0px 0px 0px 7px #68cdc4;
  width: 60%;
  margin-bottom: 10px;
}
.service .card-member h5 {
  font-weight: 900;
  font-size: 2rem;
}
.service .card-member p {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}
.service .card-member .member-redes a,
.service .card-member svg {
  display: inline-block;
  color: #08907a;
  font-size: 1.3rem;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  margin: 0px 3px 0px 3px;
}
.service .card-member .member-redes a:hover,
.service .card-member svg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.service .members-cards-line-2 .card-member img {
  margin-bottom: 5px;
}
.service .members-cards-line-2 .card-member h5 {
  font-size: 1.4rem;
}
.service .members-cards-line-2 .card-member p {
  font-size: 0.8rem;
}
.service .members-cards-line-2 .card-member img {
  border: 10px solid #08907a;
  box-shadow: 0px 0px 0px 6px #68cdc4;
}

/* ---------------------- ROAD MAP ---------------------- */
.pt-100 {
  padding-top: 100px;
}

.road-map__content {
  background: url(../img/mapabg-green.svg) no-repeat top;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.road-map .transactions div {
  text-size-adjust: initial;
}
.road-map .transactions div h5 {
  font-size: 4rem;
}
.road-map__slider .owl-carousel .item img {
  width: 150px;
}

/* ----------------------- CONTACT ---------------------- */
.contact {
  background: url(../img/bg-end.png) top #08907a;
  padding: 80px 0px;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.contact__content {
  position: relative;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__content h3 {
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}
.contact__content h2 {
  font-size: 3rem;
  font-weight: 500;
}

.footer {
  color: #ffffff;
}
.footer__content h5 {
  margin-top: 20px;
  font-weight: bolder;
}
.footer__content .btn-evulus-small {
  padding: 0px 15px;
  font-size: 10px;
}
.footer__content .social-icons--white li a img {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}
.footer__content a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* --------------------- RESPONSIVE --------------------- */
@media screen and (min-width: 1200px) {
  .container-evulus {
    padding: 60px 70px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container-evulus {
    padding: 80px 60px;
  }

  .subtitle h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1200px) {
  .logginSearch {
    flex-direction: column;
  }
  .logginSearch .button-search {
    width: 100%;
  }
  .logginSearch .button-search input {
    width: 100% !important;
    opacity: 1;
  }
  .logginSearch .button-search button {
    background: #08907a;
    color: #ffffff;
  }

  .btn-1,
.btn-2 {
    min-width: 110px;
  }

  .btn-evulus-green {
    text-align: start;
  }
  .btn-evulus-green svg {
    margin-right: 10px;
    margin-top: 3px;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .container-evulus {
    padding: 80px 40px;
  }

  .subtitle h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .nav_principal {
    flex-direction: column;
  }
  .nav_principal li {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .container-evulus {
    padding: 80px 20px;
  }

  .w-80 {
    width: 90%;
  }

  .w-70 {
    width: 80%;
    margin: 0 auto;
  }

  .subtitle {
    padding: 0rem 2rem 0.3rem;
  }
  .subtitle h2 {
    font-size: 1.5rem;
  }

  .social-icons--black li a img {
    width: 50px;
    height: 50px;
  }

  .owl-carousel {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .crypto-assets .crypto-assets-text p {
    font-size: 1.2rem;
  }

  .evu-contract .contract__text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .btn-evulus {
    width: 100%;
  }
}
@media screen and (max-width: 385px) {
  .submenu {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
